<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Modern Business - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap/css/modern-business.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="home"><span class="glyphicon glyphicon-home"> TMSR SEED</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" aria-expanded="false" style="height: 1px;">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/main"><span class="glyphicon glyphicon-glyphicon glyphicon-film">关于</a>
                    </li>


                    <li>
                        <a href="contact"><span class="glyphicon glyphicon-earphone">联系</a>
                    </li>
                    

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">404 <small>错误提示</small></h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="home">home</a>
            </li>
            <li class="breadcrumb-item active">404</li>
        </ol>

        <div class="jumbotron">
            <h1 class="display-1">404</h1>
            <p>登陆过期或您访问的页面不存在！！！如有问题请联系维护人员。</p>

        </div>
        <!-- /.jumbotron -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">TMSR &copy; 2017  &nbsp  &nbsp &nbsp钍基熔盐堆先进核能系统</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="bootstrap/js/jquery.min.js"></script>
    <!-- <script src="bootstrap/popper/popper.min.js"></script> -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
